<div>
    <h1>
      Általános szerződési feltételek
    </h1>
    <h2>Adatvédelem</h2>
    <p>Azzal, hogy meglátogatod a civiltolna.hu weboldalt, vagy valamelyik aloldalát, és az oldal tartalmát böngészed,
      elfogadod az alábbi feltételeket,
      még akkor is, ha nem vagy regisztrált felhasználó.
    </p>
    <p>A civiltolna.hu oldalán a Google Analytics mérőkódja fut, ami statisztikai adatokat nyújt a látogatókról, ezekbe a
      mérési adatokba semmilyen személyes információ nem tartozik bele. Az oldal nem azonosítja a látogatókat.</p>
    <p>Az oldal egyes részei böngészősütiket (cookie) juttatnak az olvasók számítógépére. A használt sütik kizárólag az
      oldal technikai működését segítik elő, nem céljuk a felhasználókövetés.
    </p>
    <h2>Felhasználási feltételek</h2>
    <p>Az oldalon található cikkek, leírások, képek, videók és minden egyéb tartalom a civiltolna.hu és szerkesztőinek a
      tulajdona. Az engedély nélküli felhasználás jogi következményekkel jár.
    </p>
  </div>
  