<a href="https://nav.gov.hu/nav/szja1_1/regisztralt_civil_2021">2021. évben SZJA 1% felajánlásra jogosult Tolna megyei
    civil kedvezményezettek adószáma, neve, és székhelye.</a>

<h2>Kereső</h2>
<div>
    <form>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group">
                    <label for="azonositoSearch">Azonosító</label>
                    <input type="text" class="form-control" id="azonositoSearch" name="azonosito"
                        [(ngModel)]="searchParamters.filterClient[0].filterValue">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group">
                    <label for="nevSearch">Név</label>
                    <input type="text" class="form-control" id="nevSearch" name="nev"
                        [(ngModel)]="searchParamters.filterClient[1].filterValue">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group">
                    <label for="varosSearch">Város</label>
                    <input type="text" class="form-control" id="varosSearch" name="varos"
                        [(ngModel)]="searchParamters.filterClient[2].filterValue">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group">
                    <label for="cimSearch">Cím</label>
                    <input type="text" class="form-control" id="cimSearch" name="cim"
                        [(ngModel)]="searchParamters.filterClient[3].filterValue">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group">
                    <label for="szemelySearch">Személy</label>
                    <input type="text" class="form-control" id="szemelySearch" name="szemely"
                        [(ngModel)]="searchParamters.filterClient[4].filterValue">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group">
                    <label for="elerhetosegSearch">Elérhetőség</label>
                    <input type="text" class="form-control" id="elerhetosegSearch" name="elerhetoseg"
                        [(ngModel)]="searchParamters.filterClient[5].filterValue">
                </div>
            </div>
        </div>
        <button class="btn btn-success" type="button" (click)="search()">Keresés</button>
    </form>
    <div class="mt-1">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>Azonosító</th>
                    <th>Név</th>
                    <th>Város</th>
                    <th>Cím</th>
                    <th>Személy</th>
                    <th>Elérhetőség</th>
                </thead>
                <tbody *ngIf="($szervezetek | async) && ($szervezetek | async).length > 0; else loading">
                    <tr *ngFor="let szervezet of ($szervezetek | async) | paginate: { itemsPerPage: 10, currentPage: p }">
                        <td>{{szervezet.azonosito}}</td>
                        <td>{{szervezet.nev}}</td>
                        <td>{{szervezet.varos}}</td>
                        <td>{{szervezet.cim}}</td>
                        <td>{{szervezet.szemely}}</td>
                        <td><a href="mailto:{{szervezet.elerhetoseg}}">{{szervezet.elerhetoseg}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="my-pagination">
            <pagination-controls (pageChange)="p = $event" previousLabel="Előző" nextLabel="Következő">
            </pagination-controls>
        </div>
    </div>
</div>


<ng-template #loading>
    <tr *ngIf="($szervezetek | async).length > 0; else noMatch ">
        <td colspan="6">Keresés...</td>
    </tr>
</ng-template>
<ng-template #noMatch>
    <tr>
        <td colspan="6">Nincs találat.</td>
    </tr>
</ng-template>