<header>
    <div class="container">
        <div class="row">
            <div class="col-12 logo-wrapper">
                <img src="../../../assets/logo_w_text.png" alt="Civil Központ Tolna" class="logo-image">
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="d-lg-none  d-md-block" style="padding: 10px;">Menü</div>
            <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
                <ul class="navbar-nav" *ngIf="isPublic; else adminMenu">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" href="/hirek">Hírek <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" routerLink="/egyesulet" routerLinkActive="active">
                        <a class="nav-link" href="/egyesulet">Egyesület</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Civil központ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Civil adatbázis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hasznos információk</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Szolgáltatások</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/kapcsolat">Kapcsolat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Projektjeink</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <ng-template #adminMenu>
        <a class="nav-item nav-link" [routerLink]="['hirek-kezelese']" routerLinkActive="active">Hírek
            kezelése <span class="sr-only">(jelenlegi)</span></a>
        <a class="nav-item nav-link" (click)="signOut()">Kilépés</a>
    </ng-template>
</header>