<header>
    <div class="container">
        <div class="row">
            <div class="col-12 logo-wrapper">
                <img src="../../../assets/logo_w_text2.png" alt="Civil Központ Tolna" class="logo-image">
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="d-lg-none  d-md-block" style="padding: 10px;">Menü</div>
            <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
                <ul class="navbar-nav" *ngIf="isPublic; else adminMenu">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" href="/hirek">Hírek <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" href="/egyesulet">Egyesület</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/civilkozpont">Civil központ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/kapcsolat">Kapcsolat</a>
                    </li>
                    <li class="nav-item">
                        <div ngbDropdown style="padding: 2px; cursor: pointer;">
                            <a class="nav-item nav-link" ngbDropdownToggle>Hasznos linkek</a>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <a ngbDropdownItem class="nav-item nav-link" [routerLink]="['/civil-adatbazis']"
                                    routerLinkActive='active'>Civil adatbázis</a>
                                <a ngbDropdownItem class="nav-item nav-link" [routerLink]="['/hasznos-informaciok']"
                                    routerLinkActive='active'>Hasznos információk</a>
                                <a ngbDropdownItem class="nav-item nav-link" [routerLink]="['/hirlevelek']"
                                    routerLinkActive='active'>Hírlevelek</a>
                                <a ngbDropdownItem class="nav-item nav-link" [routerLink]="['/okosfuzet']"
                                    routerLinkActive='active'>Okosfüzet</a>
                                <a ngbDropdownItem class="nav-item nav-link" [routerLink]="['/programok']"
                                    routerLinkActive='active'>Programok, események</a>
                                <a ngbDropdownItem class="nav-item nav-link" [routerLink]="['/minta-szabalyzatok']"
                                    routerLinkActive='active'>Mintaszabályzatok</a>
                                <a ngbDropdownItem class="nav-item nav-link" [routerLink]="['/palyazatok']"
                                    routerLinkActive='active'>Pályázatok</a>
                                <a ngbDropdownItem class="nav-item nav-link" [routerLink]="['/civil-referensek']"
                                    routerLinkActive='active'>Civil referensek</a>
                                <a ngbDropdownItem class="nav-item nav-link" [routerLink]="['/jotekonysagi-programok']"
                                    routerLinkActive='active'>Jótékonysági programok</a>
                                <a ngbDropdownItem class="nav-item nav-link" [routerLink]="['/petofi-program']"
                                    routerLinkActive='active'>Petőfi progmram</a>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <ng-template #adminMenu>
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="/hirek-kezelese">Hírek kezelése</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/fajl-feltoltes">Fájl feltöltés</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sablon-kezeles/hasznos-informaciok">Hasznos információk kezelése</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sablon-kezeles/hirlevel">Hírlevelek kezelése</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sablon-kezeles/okosfuzet">Okosfüzet kezelése</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sablon-kezeles/programok">Programok kezelése</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sablon-kezeles/mintaszabalyok">Mintaszabályzatok kezelése</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sablon-kezeles/palyazatok">Pályázatok kezelése</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/szervezet-betoltes">Szervezetek betöltése</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sablon-kezeles/civil-referensek">Civil referensek</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sablon-kezeles/jotekonysagi-programok">Jótékonysági programok kezelése</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sablon-kezeles/petofi-program">Petőfo program kezelése</a>
            </li>
            <li class="nav-item" (click)="signOut()">
                <a class="nav-link">Kilépés</a>
            </li>
        </ul>
    </ng-template>
</header>