<h3 class="text-center">A Tolna Megyei Civil Közösségi Szolgáltató Központ célja</h3>
<h4 class="text-center">(röviden: Civil Központ)</h4>
<p><b>A Civil Központ elsősorban ingyenes szaktanácsadó tevékenységet folytat a civil szervezeteket érintő, aktuális
        jogi, pénzügyi, pályázati/forrásteremtési és társadalmi felelősségvállalási, valamint számítástechnikai
        témákban.</b></p>
<p>A Civil Központ tanácsadási tevékenysége (telefonon, személyesen, elektronikus és postai levelezésben és on-line
    módon) az alábbi részterületekre terjed ki:</p>
<ul>
    <li>jogi, közhasznúsági tanácsadás;</li>
    <li>pénzügyi, könyvviteli és adózási tanácsadás;</li>
    <li>átlátható gazdálkodást erősítő tanácsadás és tájékoztatás, összhangban a hazai és EU pénzmosással és
        terrorizmus-finanszírozással kapcsolatos szabályozással;</li>
    <li>pályázati és forrásteremtési tanácsadás mely hazai és külföldi pályázatokra is kiterjed és felöleli a teljes
        pályázati időszakot;</li>
    <li>adományozással, önkéntességgel kapcsolatos tanácsadás;</li>
    <li>Magyar – külhoni magyar kapcsolatok fejlesztése.</li>
</ul>
<p><b> A Civil Központ </b>a civil szektort érintő kérdésekkel kapcsolatosan naprakész infokommunikációs tevékenységet
    végez, a
    civiltolna.hu honlapon és a „Tolna Megyei Civil Központ” Facebook oldalon pedig naponta frissülő híreket, hasznos
    információkat, dokumentum sablonokat, adatbázist és forrásszerzési lehetőségeket találhatnak az érdeklődők. Ezen
    kívül személyes és csoportos tanácsadásokat, fórumokat, interaktív előadásokat, képzéseket és fejlesztő tréning
    sorozatot szervez a <b> Központ </b>a civil szervezeteket érintő éppen aktuális, vagy olyan témákban, melyekre
    rendszeresen
    igény mutatkozik.</p>
<p>A <b>Civil Központ </b>minden szolgáltatása ingyenesen elérhető a civil szervezetek képviselői számára.</p>

<p><b>A Tolna Megyei Civil Központ</b> tevékenysége és programjai a Miniszterelnökség és Bethlen Gábor Alapkezelő Zrt.
    <b>A Tolna Megyei Civil Központ </b>tékenysége és programjai a Miniszterelnökség és Bethlen Gábor Alapkezelő
    Zrt.
    támogatásával valósulnak meg a <b> CKSZ-KP-1-2021/1-000017 </b>azonosító számú pályázat keretében.
</p>
<a href="https://firebasestorage.googleapis.com/v0/b/civiltolna.appspot.com/o/file-uploads%2FCIVIL-KEZIKONYV2.pdf?alt=media&token=2972ae51-90df-47d8-bf18-0888aafce730"
    target="_blank">
    Civil Kézikönyv letöltése
</a>
<div>
    <a href="https://firebasestorage.googleapis.com/v0/b/civiltolna.appspot.com/o/file-uploads%2FCIVIL-KEZIKONYV2.pdf?alt=media&token=2972ae51-90df-47d8-bf18-0888aafce730"
        target="_blank">
        <img src="../../../assets/civil_kezikonyv.png" alt="Civil Kézikönyv" class="img-fluid"
            style="max-height: 150px;">
    </a>
</div>