<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="">E-mail</label>
            <input class="form-control" type="email" [(ngModel)]="model.email" name="email" id="email" #email="ngModel">
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="">Jelszó</label>
            <input class="form-control" type="password" [(ngModel)]="model.password" name="password" id="password"
                #password="ngModel">
        </div>
    </div>
</div>
<div class="row" *ngIf="errorMessge">
    <div class="col-12">
        <div class="alert alert-danger">
            <span class="error">{{errorMessge}}</span>
        </div>
    </div>

</div>
<button type="button" class="btn btn-success" (click)="login()">Belépés</button>