<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="">E-mail</label>
            <input class="form-control" type="email" [(ngModel)]="model.email" name="email" id="email" #email="ngModel">
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="">Jelszó</label>
            <input class="form-control" type="password" [(ngModel)]="model.password" name="password" id="password" #password="ngModel">
        </div>
    </div>
</div>
<button type="button" (click)="login()">Belépés</button>