<div class="row">
    <div class="col-12 mt-1">


    </div>
    <div class="col-12">
        <h2>Kedves Látogató!</h2>
        <p class="text-justify">
            <a href="http://dupi.hu"><img src="../../../assets/logo2.png" alt="DUPI" class="img-fluid" width="120"
                    style="float: right; display: inline-block; margin-left:15px"></a>A Dunamenti Polgári Egyesület
            (DUPI) elsődleges célja a társadalmi szerepvállalás
            ösztönzése az egyén és a közösség szintjén, a nemzeti kulturális, polgári, keresztény értékek ápolása,
            terjesztése és megóvása, melynek érdekében egyesületünk ismeretterjesztő tevékenységet végez a tudomány, a
            történelem, a művészetek, a kultúra, a vallás és a sport területén előadások, rendezvények szervezése útján
            minden korosztály számára.
        </p>
        <p class="text-justify">Részt veszünk a környezettudatos gondolkodás terjesztésében, az egészséges életmódra
            nevelésben és az egészség védelmével kapcsolatos ismeretek terjesztésében, valamint a nemzeti és helyi
            hagyományok, értékek ápolásában és megóvásában.
        </p>
        <p class="text-justify">Közreműködünk a céljainkkal megegyező programok népszerűsítésében és segítséget nyújtunk
            azok megszervezésében, tesszük ezt más civil szervezetekkel együttműködve.
        </p>
        <p class="text-justify">Azon munkálkodunk, hogy minden korosztályban felkeltsük és erősítsük a közélet iránti
            érdeklődést, működésünkkel hozzájáruljunk a polgári gondolkodás megőrzéséhez, valamint tagjaink és a
            felsorolt célokkal azonosulni kívánók számára közösséget teremtsünk, építsük és fejlesszük az összetartást.
        </p>
        <p class="text-center">Egyesületünk 2021. január 1-től a Tolna Megyei Civil Közösségi Szolgáltató Központ
            címbirtokosa. (Ide jöhetne a Civilközpont logó)
        </p>
        <p class="text-center">DUPI (Dunamenti Polgári Egyesület) - ahol az érték a mérték.
        </p>
        <p class="text-center"><a href="http://civiltolna.hu"><img src="../../../assets/logo_w_text.png"
                    alt="civiltolna" class="img-fluid" width="300" style="margin-left: 60px;"></a></p>
    </div>
    <div class="col-12">
        <figure>
            <img src="../../../assets/szekszard.png" alt="Szekszárd" class="img-fluid">
            <figcaption> <em>Fotó: Kiss Albert</em></figcaption>
        </figure>
    </div>
</div>