<app-header></app-header>
<div class="container" style="padding-bottom: 70px;">
    <div class="row mt-1" *ngIf="isPublic else adminTemplate">
        <div class="col-sm-12 col-md-2">
            <div>
                <a href="https://bgazrt.hu/" target="_blank"><img src="../assets/footer/bethlen_gabor.png"
                        alt="Bethlen Gábor" class="side-panel-image"></a>
            </div>
            <div>
                <a href="https://bgazrt.hu/tamogatasok/nemzeti-egyuttmukodesi-alap/" target="_blank">
                    <img src="../assets/footer/nea.png" alt="Nemzeti Együttműködési Alap" class="side-panel-image"></a>
            </div>
            <div>
                <a href="https://kormany.hu/miniszterelnokseg" target="_blank">
                    <img src="../assets/footer/miniszterelnokseg.png" alt="Miniszterelnökség"
                        class="side-panel-image"></a>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 ">
            <router-outlet></router-outlet>
        </div>
        <div class="col-sm-12 col-md-2">
        </div>
    </div>
</div>
<app-footer></app-footer>

<ng-template #adminTemplate>
    <div class="row mt-1">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</ng-template>

<cookie-law>
    Ez a honlap sütiket használ. Weboldalunk használatával jóváhagyod a cookie-k használatát a Cookie-kkal kapcsolatos
    irányelv értelmében.
    <a href="/user-agreement" target="_blank" rel="noopener noreferrer">További információ.</a>
</cookie-law>