<h1>Híreink</h1>
<hr>
<div class="col-12" *ngIf="$hirek | async as newsList; else loading">
    <div *ngFor="let news of newsList | paginate: { itemsPerPage: 3, currentPage: p }">

        <h1 class="hir_title">{{news.title}}</h1>
        <div class="hir-body" [innerHTML]="sanitize(news.content)"
        #collapse="ngbCollapse" [(ngbCollapse)]="news.id != currentOpenedHirId"></div>
        <div (click)="setCurrentOpen(news.id)">Olvass tovább >></div>
        <div style="height: 10px;">
            <span class="float-right">{{news.date | timestampToDate | date : 'yyyy.MM.dd.'}}</span>
        </div>
        <hr>
    </div>
    <div class="my-pagination">
        <pagination-controls (pageChange)="p = $event" previousLabel="Előző" nextLabel="Következő">
        </pagination-controls>
    </div>
</div>
<ng-template #loading>
    <div class="col-12">
        <h2 class="loading">Az oldal töltődik<span>.</span><span>.</span><span>.</span></h2>
    </div>
</ng-template>