<h2>Hírek kezelése</h2>

<div *ngIf="!pageModel.editData else createTemplate">
    <div class="col-12">
        <div class="form-group">
            <button type="button" class="btn btn-success" (click)="create()">Új hír hozzáadása</button>
        </div>
    </div>
    <div class="col-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Cím</td>
                    <td>Létrehozva</td>
                    <td>Műveletek</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hir of pageModel.allData | async">
                    <td>{{hir.title}}</td>
                    <td>{{hir.date | timestampToDate | date:'y. MM. dd. HH:mm'}}</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary" (click)="edit(hir)">Szerkesztés</button> |
                        <button type="button" class="btn btn-outline-danger"
                            (click)="open(delete_modal, hir)">Törlés</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #createTemplate>
    <form #editNews="ngForm">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="leiras">Cím *</label>
                    <input type="text" [(ngModel)]="pageModel.editData.title" required id="cim" name="cim"
                        class="form-control" #cim="ngModel">
                    <div *ngIf="cim.invalid && (cim.dirty || cim.touched)" class="alert alert-danger">
                        <div *ngIf="cim.errors.required">
                            A cím megadása kötelező!
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="datum">Tartalom *</label>
                    <div class="input-group">
                        <ckeditor [editor]="Editor" [(ngModel)]="pageModel.editData.content" required
                            [config]="editorConfig" #content="ngModel" name="content"></ckeditor>
                    </div>
                    <div *ngIf="content.invalid && (content.dirty || content.touched)" class="alert alert-danger">
                        <div *ngIf="content.errors.length> 0">
                            A tartalom nem megfelelő!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <button type="button" class="btn btn-success" (click)="save()">
                        {{pageModel.isEdit? Constants.Edit : Constants.Create}}
                    </button>
                </div>

            </div>
            <div class="col-2">
                <div class="form-group">
                    <button type="button" class="btn btn-warning" (click)="cancel()">{{Constants.Cancel}}</button>
                </div>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #delete_modal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Törlés</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <p>Biztos, hogy törlöd a hírt?</p>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click'); delete()">Törlés</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('')">Mégse</button>
    </div>
</ng-template>